
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #04c582;
    z-index: -1;
}

.container {
    position: relative;
    width: 410px;             
    background: #2e3137;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; 
    padding: 60px 20px 20px;  
    z-index: 0;
}


.image_container {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%); 
    width: 110px;
    height: 110px;
    background-color: #717985;
    border: 4px solid #444950;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.image_logo {
    width: 90px;
    height: 90px;
    background: url("logo.png") center/cover no-repeat;
    background-size: 200%;
    border-radius: 50%;
}
.heading {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 27px;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    flex: 1;
    padding: 12px 0;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tabs button.active {
    color: #fff;
}

.tabs button:not(.active) {
    color: #888;
}

.heading_line {
    display: flex;
    margin-bottom: 35px;
}

.heading_line hr {
    flex: 1;
    border: none;
    height: 3px;
    background-color: #636b7b; 
    transition: background 0.3s ease;
}

#login-line.active-line,
#signup-line.active-line {
    background-color: #fff; 
}
.form-feed form {
    display: flex;
    flex-direction: column;
}

.form-feed label {
    color: #636b7b;
    font-size: 15px;
    margin-bottom: 6px;   
    font-weight: 600;     
}

.form-feed input {
    padding: 12px;
    margin-bottom: 35px;      
    border-radius: 8px;
    outline: none;
    background-color: #636b7b; 
    color: #f9fafa;           
    font-size: large;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

button.submit {
    position: relative;
    left: 100px;              
    width: 50%;
    padding: 10px;
    background: #04c582;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

button.submit:hover {
    background: #099564;
}

/* Forgot password */
#forgot {
    margin-top: 10px;
    text-align: center;
}

#forgot a {
    font-size: 14px;
    color: #545d6a;
    text-decoration: none;
    cursor: pointer;
}

#forgot a:hover {
    color: #fff;
}
