body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

a{
    font-weight: 600;
    color: #319cc7;
    text-decoration: none;
}